body {
	font-family: Gill Sans, Verdana;
}

h1 {
	padding:10px;
	margin: 5px;
	font-size: 31px;
	line-height: 34px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

footer {
	padding:10px;
	margin: 5px;
}

hr {
	border: none;
	height: 1px;
	background-color: black;
	margin:0px 5px 0px 5px;
}

img {
	cursor: pointer;
}

input[type=submit] {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    -webkit-appearance: none; /* Don't change appearance */
    border-radius: 4px;
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #cccccc;
    color: #000000;
}
input[type=submit]:hover {
	background-color: #00aced;
}

/*
	The filter/search section
*/

#filter_search {
	margin: 10px;
}

.filter_search_form {
	display:inline-block;
}
.filter_search_text {
	margin:4px;
	word-wrap: normal;
	max-width:400px;
}

/*
	Photos section

	Add the following to see borders:
		border: 1px solid black;
*/

.photo {
	margin:10px;
	padding:5px;
	width:450px;
	display:inline-block;
	vertical-align:top;
}
.photo_image {
	margin: 5px 0px 5px 0px;
}
.photo_description {
	padding:5px 0px 0px 0px;
}
.photo_categories {
	padding:10px 0px 10px 0px;
}
.photo_category {
	background-color: rgb(186,143,149);
	border: 1px solid rgb(186,143,149);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:6px;
	margin: 0px 4px 4px 0px;
	float:left;

	font-family: Gill Sans, Verdana;
	font-size: 16px;

	cursor: pointer;
}
.photo_category:nth-of-type(odd) {
    background-color: rgb(202,182,205);
	border: 1px solid rgb(202,182,205);
}
.photo_category:hover {
	background-color: rgb(158,97,105);
}
.photo_category:hover:nth-of-type(odd) {
	background-color: rgb(167,134,172);
}